body{
    background-color: black;
    color: white;
}

h1 {
    font-size: 8em;
    text-align: center;
    background-image: url(./beach\ image.gif);
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}